<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="account-container">
    <h1 class="account-name">
      {{ user_data.name }} {{ user_data.last_name }}
    </h1>

    <ion-avatar class="account-avatar" (click)="presentPhotoOptions()">
      <img 
        [src]="user_data.image ? user_data.image : 'assets/images/default-avatar.jpeg'"
        alt="User Avatar"
      />
    </ion-avatar>

    <div class="account-info">
      <p><strong>Usuario:</strong> {{ user_data.username }}</p>
      <p><strong>Seguidores:</strong> {{ user_data.followers.length }}</p>
      <p><strong>Siguiendo:</strong> {{ user_data.followees.length }}</p>
    </div>
  </div>
</ion-content>
