.video-game-theme {
    background: #0b0b0d;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
  }

  .avatar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .user-avatar {

    height: 100px;
    border: 3px solid rgba(153, 0, 255, 0.8);
    border-radius: 500%;
    box-shadow: 0 0 15px rgba(255, 45, 129, 0.8);
  }

  .login-form {
    padding: 20px;
    background: rgba(25, 25, 25, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(212, 0, 255, 0.5);
    margin: auto;
    max-width: 400px;
    margin-top: 30px;
  }

  .title {
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
  }

  .horror-input {
    margin-bottom: 15px;
    --background: rgba(30, 30, 30, 0.9);
    --color: white;
    --placeholder-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }

  .error-messages ion-label {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
    color: #2a0000;
  }

  .btnRegistro {
    margin-top: 20px;
    text-align: center;
  }

  .login-button {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(72, 0, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .login-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(88, 91, 255, 0.8);
  }

  .retroceso {
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2rem;

    
  }